--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: Role; Type: TYPE; Schema: public; Owner: riven
--

CREATE TYPE public."Role" AS ENUM (
    'USER',
    'TA',
    'PROFESSOR'
);


ALTER TYPE public."Role" OWNER TO riven;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Comment; Type: TABLE; Schema: public; Owner: riven
--

CREATE TABLE public."Comment" (
    id integer NOT NULL,
    author text NOT NULL,
    content text NOT NULL,
    "ticketId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Comment" OWNER TO riven;

--
-- Name: Comment_id_seq; Type: SEQUENCE; Schema: public; Owner: riven
--

CREATE SEQUENCE public."Comment_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Comment_id_seq" OWNER TO riven;

--
-- Name: Comment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: riven
--

ALTER SEQUENCE public."Comment_id_seq" OWNED BY public."Comment".id;


--
-- Name: File; Type: TABLE; Schema: public; Owner: riven
--

CREATE TABLE public."File" (
    id integer NOT NULL,
    "fileName" text NOT NULL,
    "ticketId" integer NOT NULL,
    url text NOT NULL
);


ALTER TABLE public."File" OWNER TO riven;

--
-- Name: File_id_seq; Type: SEQUENCE; Schema: public; Owner: riven
--

CREATE SEQUENCE public."File_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."File_id_seq" OWNER TO riven;

--
-- Name: File_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: riven
--

ALTER SEQUENCE public."File_id_seq" OWNED BY public."File".id;


--
-- Name: Ticket; Type: TABLE; Schema: public; Owner: riven
--

CREATE TABLE public."Ticket" (
    id integer NOT NULL,
    "ticketNumber" text NOT NULL,
    "ticketDescription" text NOT NULL,
    "courseGroupType" text NOT NULL,
    category text NOT NULL,
    student text NOT NULL,
    details text NOT NULL,
    priority text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "taId" integer NOT NULL,
    "professorId" integer NOT NULL
);


ALTER TABLE public."Ticket" OWNER TO riven;

--
-- Name: Ticket_id_seq; Type: SEQUENCE; Schema: public; Owner: riven
--

CREATE SEQUENCE public."Ticket_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Ticket_id_seq" OWNER TO riven;

--
-- Name: Ticket_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: riven
--

ALTER SEQUENCE public."Ticket_id_seq" OWNED BY public."Ticket".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: riven
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    name text NOT NULL,
    email text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    role public."Role" DEFAULT 'USER'::public."Role" NOT NULL
);


ALTER TABLE public."User" OWNER TO riven;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: riven
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO riven;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: riven
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: riven
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO riven;

--
-- Name: Comment id; Type: DEFAULT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."Comment" ALTER COLUMN id SET DEFAULT nextval('public."Comment_id_seq"'::regclass);


--
-- Name: File id; Type: DEFAULT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."File" ALTER COLUMN id SET DEFAULT nextval('public."File_id_seq"'::regclass);


--
-- Name: Ticket id; Type: DEFAULT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."Ticket" ALTER COLUMN id SET DEFAULT nextval('public."Ticket_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: Comment; Type: TABLE DATA; Schema: public; Owner: riven
--



--
-- Data for Name: File; Type: TABLE DATA; Schema: public; Owner: riven
--



--
-- Data for Name: Ticket; Type: TABLE DATA; Schema: public; Owner: riven
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: riven
--

COPY public."User" (id, name, email, "createdAt", role) FROM stdin;
2	John Doe	ta1@example.com	2024-10-23 13:47:30.144	TA
3	Jane Smith	ta2@example.com	2024-10-23 13:47:30.144	TA
4	Sam Wilson	ta3@example.com	2024-10-23 13:47:30.144	TA
5	Dr. Robert	prof1@example.com	2024-10-23 13:47:35.019	PROFESSOR
6	Dr. Emily	prof2@example.com	2024-10-23 13:47:35.019	PROFESSOR
7	Dr. Clark	prof3@example.com	2024-10-23 13:47:35.019	PROFESSOR
8	BTAY013	btay013@e.ntu.edu.sg	2024-10-23 06:04:40.885	TA
1	Professor Victor	rivenbryan@gmail.com	2024-10-22 03:03:25.942	PROFESSOR
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: riven
--



--
-- Name: Comment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: riven
--

SELECT pg_catalog.setval('public."Comment_id_seq"', 10, true);


--
-- Name: File_id_seq; Type: SEQUENCE SET; Schema: public; Owner: riven
--

SELECT pg_catalog.setval('public."File_id_seq"', 5, true);


--
-- Name: Ticket_id_seq; Type: SEQUENCE SET; Schema: public; Owner: riven
--

SELECT pg_catalog.setval('public."Ticket_id_seq"', 33, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: riven
--

SELECT pg_catalog.setval('public."User_id_seq"', 8, true);


--
-- Name: Comment Comment_pkey; Type: CONSTRAINT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_pkey" PRIMARY KEY (id);


--
-- Name: File File_pkey; Type: CONSTRAINT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."File"
    ADD CONSTRAINT "File_pkey" PRIMARY KEY (id);


--
-- Name: Ticket Ticket_pkey; Type: CONSTRAINT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."Ticket"
    ADD CONSTRAINT "Ticket_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Ticket_ticketNumber_key; Type: INDEX; Schema: public; Owner: riven
--

CREATE UNIQUE INDEX "Ticket_ticketNumber_key" ON public."Ticket" USING btree ("ticketNumber");


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: riven
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: Comment Comment_ticketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."Comment"
    ADD CONSTRAINT "Comment_ticketId_fkey" FOREIGN KEY ("ticketId") REFERENCES public."Ticket"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: File File_ticketId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."File"
    ADD CONSTRAINT "File_ticketId_fkey" FOREIGN KEY ("ticketId") REFERENCES public."Ticket"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Ticket Ticket_professorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."Ticket"
    ADD CONSTRAINT "Ticket_professorId_fkey" FOREIGN KEY ("professorId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Ticket Ticket_taId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: riven
--

ALTER TABLE ONLY public."Ticket"
    ADD CONSTRAINT "Ticket_taId_fkey" FOREIGN KEY ("taId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT ALL ON SCHEMA public TO riven;


--
-- PostgreSQL database dump complete
--

